body { 
    font-family: verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

div {
    height: 25px;
    
}

p {
    display: inline;
}

.container {
  display: flex;
  justify-items: end;
  padding: 10px;
}

.names {
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: end;
}

label {
  padding-right: 10px;
  background-color: pink;
}