body { 
    font-family: verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

div {
    height: 50px;
    background-color: antiquewhite;
    align-content: center;
}

p {
    display: inline;
}
